<h1 mat-dialog-title>Añadir Persona</h1>
<div mat-dialog-content>
    <form [formGroup]="personaForm">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellidos" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Foto (URL)</mat-label>
          <input matInput formControlName="foto" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput formControlName="fechaNacimiento" type="date" required>
        </mat-form-field> <br>
        <mat-form-field>
          <mat-label>ID de departamento</mat-label>
          <input matInput formControlName="idDepartamento" type="number" required>
        </mat-form-field> <br>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!personaForm.valid">Añadir</button>
</div>