﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" action="@Url.Action("Index", "Personas")">
        <button type="submit">Acceder a las personas</button>
    </form>
    <form method="post" action="@Url.Action("Index", "Departamentos")">
        <button type="submit">Acceder a los departamentos</button>
    </form>
</div>