@model IEnumerable<EjercicioGepeto.Models.ENT.ClsPersona>

<h2>Listado de Personas</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Acciones</th>
    </tr>
    @foreach (var persona in Model)
    {
        <tr>
            <td>@persona.Nombre</td>
            <td>@persona.Apellido</td>
            <td>@persona.Edad</td>
            <td>
                <!-- Enlace a la acción Edit en PersonaController -->
                <a href="@Url.Action("Edit", "Persona", new { id = persona.IdDep })">Editar</a>
            </td>
        </tr>
    }
</table>
