@{
    ViewData["Title"] = "Home Page";
}
@{
    int maxX = 10;
    int maxY = 12;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: separate;
            border: 2px solid black;
        }
        th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            @for (int i = 1; i <= maxY; i++)
            {
                <tr>
                    @for (int j = 1; j <= maxX; j++)
                    {
                        <td>@i * @j = @(i * j)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>