@{
    ViewData["Title"] = "Home Page";
}

<h1>Tema 8 - Ejercicio 2</h1>
<h3>Realizado por Nestor Sanchez</h3>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" value="" required />
    <br />
    <input type="submit" value="Saludar">
}