@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>Apple</li>
    <li>Samsung</li>
    <li>Huawei</li>
    <li>Xiaomi</li>
    <li>Oppo</li>
    <li>Vivo</li>
    <li>OnePlus</li>
    <li>Sony</li>
    <li>Google</li>
    <li>Motorola</li>
</ul>

@Html.ActionLink("Pagina principal", "Index", "Home")