@model EjercicioCRUD_ASP.Models.ViewModels.ErrorVM
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ERROR FATAL</h1>
<h2 class="text-danger">Ha ocurrido un error fatal. Vuelva a intentarlo mas tarde</h2>
<p>@Model.Exception.Message</p>
