/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
}

p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

h2 {
    color: #333;
    margin-top: 20px;
}

/* Estilo para la tabla */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para botones */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

    button:hover {
        background-color: #45a049;
    }

    button:active {
        background-color: #388e3c;
    }

/* Estilo para los formularios */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    input[type="time"] {
        width: 80%;
    }

button[type="submit"] {
    width: 100%;
}

/* Estilo para los cargadores */
#recargaArtistas, #recargaCanciones {
    text-align: center;
}

/* Estilo para las secciones de artistas y canciones */
#infoArtistas, #infoCanciones {
    margin: 20px 0;
}

#artistas, #canciones {
    margin: 10px 0;
}

/* Estilo para la sección de agregar/modificar */
#creatorArtistas, #creatorCanciones {
    margin-top: 30px;
}

    #creatorArtistas h2, #creatorCanciones h2 {
        text-align: center;
        font-size: 24px;
    }

    #creatorArtistas form, #creatorCanciones form {
        margin: 20px auto;
        max-width: 600px;
    }

    #creatorArtistas button, #creatorCanciones button {
        width: 100%;
        margin: 10px 0;
    }

/* LA CAMPANAAA UEEEEE */
#campana {
    color: red;
    text-align: center;
    font-size: 20px;
}