@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="datos">
        <input type="button" id="btn" value="Pulsa" onclick="pedirDatos();" />
    </form>
    <p id="info"></p>
    <div id="container">
        <p id="pokemon"></p>
    </div>
    <p id="creator"></p>
</div>
