@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Dale a donde yo me se anda</h1>
    <button onclick="window.location.href='http://localhost:5273/index.html'">
        Navegar
    </button>
</div>
